{% extends 'layout.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ title }}</h1>
    <hr>
    <div class="row">
      <div class="col"></div>
    <form action="{{ url_for('search_cars_by_brand') }}" method="POST" class="mb-3">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Search by car's brand">
        
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
            <i class="bi bi-search"></i> ค้นหา
        </button>
    </div>
</form>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brand</th>
      <th scope="col">Model</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for car in cars %}
      <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ car.brand }}</td>
      <td>{{ car.model }}</td>
      <td>
        
      </td>
    </tr>
    {% endfor %}
    
    
  </tbody>
</table>
    </div>
{% endblock %}



